<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GovSSO Mock</title>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>

<body>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <div class="container mt-5">
                <b>{{ .error }}</b><br>
                {{ .message }}<br>
                {{ .incident_nr }}<br>
            </div>
        </div>
    </div>
</div>
</body>

</html>
